<h1>Edit Tag</h1>
<hr>
<form id="ne-workout" action='/tags/<%= @tag.slug %>' method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render('form') %>
</form>
<div class="clear"></div>
