html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  text-align:left;
  font-weight:normal;
  vertical-align:baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
list-style-position: inside;
}

body {
  background-color:#3973B2;
  font-family: 'Gafata', sans-serif;
}

.clear {clear:both;}

#wrapper {
  width:800px;
  margin:30px auto;
  padding: 20px;
  background-color: white;
}

h1 {
  color:#B28028;
}

h2 {


}

.f-label {
  float:left;
  clear:both;
}

.f-label span {
  vertical-align: top;
  text-align: right;
  width:100px;
  display:inline-block;
  margin: 0 8px 0 0;
  font-weight: bold;
}

.t-label {
  margin:0 8px 0 0;
  display:inline-block;
}

#submit {
  margin:20px 0;
}

#addmore {
  cursor: pointer;
  clear:both;
}

.ex-tag {
  display: inline-block;
  padding: 4px 7px;
  color:white;
  background-color: #3973B2;
  border-radius: 3px;
  text-decoration: none;
}

.ex-tag:hover {
  color: #FFC96C;
  text-decoration: none;
}

#display-tags {
  margin: 20px 0;
}

#tags {
  width:150px;
  height: 100px;
}

.wk-ex {
  clear:both;
}

.form-control {
  display: inline-block !important;
  width: 200px !important;
}

.ex-reps {
  width:75px !important;
}

#wk-exercises li {
  list-style-type: none;
}

