<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id="wrapper">
    <%= yield %>
    <div class="clear"></div>
  </div>

  <script>
    $(document).ready(function() {


      $('#addmore').click(function() {
        order = $(this).prev().prev('.wk-ex').data('order') + 1
        copy = $($(this).prev().prev('.wk-ex').clone()).insertAfter($(this).prev().prev('.wk-ex'))
        copy.attr('data-order',order)
        copy.find('.ex-c').text('Exercise ' + order)
        copy.find('.ex-reps').val('')
      })

      $('#ne-workouts').submit(function() {
        // event.preventDefault();
        wk_exercises = []
        $('.wk-ex').each(function() {
          ex_id = $(this).find('.ex-select').val()
          ex_order = $(this).data('order')
          ex_reps = $(this).find('.ex-reps').val()
          wk_exercises.push(ex_id + '-' + ex_order + '-' + ex_reps)
        })
        $('#ne-workouts').append('<input name="movements" type="hidden" value="' + wk_exercises + '">')
      })

      $('#ne-exercises').submit(function() {
        if ($('#tags').length) {
          selectedTags = $('#tags').val()
          $('#tags').after('<input name="tags" type="hidden" value="' + selectedTags.join(',') + '">')
        }
      })



    })

  </script>
</body>
</html>
