<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id="wrapper">
    <%= yield %>
    <div class="clear"></div>
  </div>

  <script>
    $(document).ready(function() {
      $('#new-edit').submit(function() {
        selectedTags = $('#tags').val()
        $('#tags').after('<input type="hidden" name="tags" value="' + selectedTags.join(',') + '">')
      })
    })

  </script>
</body>
</html>
